WBA2_Phase2/src/Mannschaft.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Mannschaft">
     <xs:complexType>
         <xs:sequence>
             <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
             <xs:element name="Abonnent" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
     </xs:complexType>
  </xs:element>
</xs:schema>